<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="phoneField" class="row mb-2 phone-field">
        <div class="col-md-6">
            <input type="tel" class="form-control" th:name="'phoneNumbers[' + ${phoneIndex} + '].value'" th:id="'phoneNumbers' + ${phoneIndex} + '.value'" placeholder="Phone number">
        </div>
        <div class="col-md-4">
            <select class="form-select" th:name="'phoneNumbers[' + ${phoneIndex} + '].type'" th:id="'phoneNumbers' + ${phoneIndex} + '.type'">
                <option value="">-- Select Type --</option>
                <option value="MOBILE">Mobile</option>
                <option value="HOME">Home</option>
                <option value="WORK">Work</option>
                <option value="OTHER">Other</option>
            </select>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-outline-danger remove-field">
                <i class="bi bi-trash"></i>
            </button>
        </div>
    </div>
</body>
</html>
