<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Contacts</title>
</head>
<body>
<h2>Google Contacts</h2>

<table border="1">
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
    </tr>
    </thead>
    <tbody>
    <!-- Thymeleaf Iteration -->
    <tr th:each="contact : ${contacts}">
        <td th:text="${contact.name}"></td>
        <td th:text="${contact.email}"></td>
        <td th:text="${contact.phone}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
