<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Google Contacts</title>
</head>
<body>
  <h1>Google Contacts</h1>
    <!-- Form to Create a New Contact -->

    <h2>Create New Contact</h2>
    <form th:action="@{/create-contact}" method="post">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required><br><br>
  
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required><br><br>
  
      <label for="phone">Phone:</label>
      <input type="text" id="phone" name="phone" required><br><br>
  
      <button type="submit">Create Contact</button>
    </form>

  <table border="1" style="width: 25%; border-collapse: collapse; margin-top: 20px;">
      <thead>
          <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Update</th>
              <th>Delete</th>
          </tr>
      </thead>
      <tbody>
          <tr th:each="contact : ${contacts}">
              <td th:text="${contact['names'] != null ? contact['names'][0]['displayName'] : 'N/A'}">Name</td>
              <td th:text="${contact['emailAddresses'] != null ? contact['emailAddresses'][0]['value'] : 'N/A'}">Email</td>
              <td th:text="${contact['phoneNumbers'] != null ? contact['phoneNumbers'][0]['value'] : 'N/A'}">Phone</td>

          </tr>
      </tbody>
  </table>
</body>
</html>